<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="StaticRewrites" defaultValue="">
          <add key="/2010/02/06/document-and-report-generation-using-xaml-wpf-databinding-and-xps" value="/document-and-report-generation-using-xaml-wpf-data-binding-and-xps" />
          <add key="/2011/01/26/cmssitemanager-sharepoint-2010-jquery-compatibility-errors" value="/sharepoint-2010-jquery-compatibility-errors-cmssitemanager-js" />
          <add key="/2011/02/13/hosts-file-google-android-emulator" value="/hosts-files-and-the-google-android-emulator" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="Rewrite Rule">
          <match url=".*" />
          <conditions>
            <add input="{StaticRewrites:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Rewrite" url="{C:1}" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>