<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="301 Redirect 1" stopProcessing="true">
          <match url="^2010/02/06/document-and-report-generation-using-xaml-wpf-databinding-and-xps$" />
          <action type="Redirect" url="document-and-report-generation-using-xaml-wpf-data-binding-and-xps" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect 2" stopProcessing="true">
          <match url="^2011/01/26/cmssitemanager-sharepoint-2010-jquery-compatibility-errors$" />
          <action type="Redirect" url="sharepoint-2010-jquery-compatibility-errors-cmssitemanager-js" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect 3" stopProcessing="true">
          <match url="^2011/02/13/hosts-file-google-android-emulator$" />
          <action type="Redirect" url="hosts-files-and-the-google-android-emulator" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>